<section id="contact" class="border-white/20 border-b">
  <a
    href="mailto:hi@ryanmckinnon.com"
    class="block w-full bg-cyan-300 px-4 py-16 text-center text-3xl font-black uppercase tracking-[0.6em] text-white lg:py-24 lg:text-6xl"
  >
    Say hello via email →
  </a>
</section>
