---
import Banner from "@/components/landing/Banner.astro";
import Testimonials from "@/components/landing/Testimonials.astro";
import BgGrid from "@/components/assets/BgGrid.astro";
---

<section id="intro" class="border-white/20 border-b">
  <div class="bg-grid p-8 relative">
    <BgGrid />

    <h1 class="text-white tracking-tighter font-black uppercase text-3xl lg:text-8xl relative">
      Dad life, fairway walks, ocean mornings, and the soundtrack in between—logged by Ryan McKinnon.
    </h1>
  </div>
  <Banner />
  <Testimonials />
</section>
